body {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side2 {
  align-items: center;
  margin-left: 100px;
  width: 5%;
  border: 1px solid green;
}

.side3 {
  width: 5%;
  align-items: center;
  margin-top: 13px;
  margin-left: 160px;
  border: 1px solid green;
}


.Footer {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: max-content;
  color: #044;
}

.Footer a {
  text-decoration: none;
  font-size: 1rem;
  color: #040;
}

div.zoh0 {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  height: 84vh;
  background-color: #bbb;
}

.masterarea {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.props-topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  gap: 1rem;
  /* padding: 0.3rem; */
  opacity: 0;
}

.props-topbar button {
  height: fit-content;
  font-size: 0.8rem;
  padding: 0.3rem;
  border:transparent;
  border-radius: 4px;
}

.props-topbar button:hover,
.props-topbar button.active {
  background-color: #ff1f;
}

#font-family {
  background-color: #0002;
  padding: 4px 8px;
  border-radius: 8px;
  border: 0;
}

.custom-number-input {
  display: flex;
  align-items: center;
  background-color: #0001;
  border-radius: 6px;
  text-align: center;
  height: 2rem;
  width: fit-content;
}

.custom-number-input button {
  width: 2rem;
  height: 100%;
  background-color: #0001;
  font-weight: bold;
  border-radius: 6px;
  border: solid 2px #444;
  cursor: pointer;
}

.custom-number-input input {
  height: 1.8rem;
  width: 4rem;
  font-size: 0.7rem;
  background: transparent;
  padding: 0 0.3rem;
  border: none;
  outline: none;
  text-align: center;
}

.custom-number-input input::-webkit-outer-spin-button,
.custom-number-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.canvdiv {
  margin: auto;
  height: 100%;
}

div.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 2.5rem 0;
  background-color: #fff;
}

.sidebar button {
  height: 2.2rem;
  width: 2.2rem;
  margin: 0.4rem;
  border: 0;
  border-radius: 10px;
}

.sidebar button img,
.sidebar button svg {
  width: 80%;
  height: 80%;
}

.sidebar button.active,
.sidebar button:hover {
  background-color: #ff1;
  box-shadow: 5px 0 10px 0 #aa1;
}


div.zohinpop {
  margin-left: 10px;
  margin-right: 10px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 3px solid red;
  color: white;
  background-color: red;
  padding: 11px 19px;
  font-size: 15px;
  margin-left: -10px;
  margin-top: 14px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  left: 0;
  top: 0;
  opacity: 0;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
}

.item1 {
  grid-row: 1 / span 2;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px;
  margin-left: -30px;
}

hr {
  width: 200px;
  color: #f2f2f2;
  border: 2px solid #c5c3c3;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 280px;
  margin-top: 10px;
  font-size: 20px;
}

/* The popup form - hidden by default */
div.form-popup {
  display: none;
  position: absolute;
  left: 20px;
  border: 3px solid #f1f1f1;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

  top: 177px;
  width: 250px;
  height: 520px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=number],
.form-container input[type=number] {
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=number]:focus,
.form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #eeeeee;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-left: 12px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#custom-button {
  padding: 10px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

#custom-button:hover {
  background-color: #00b28f;
}

#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

div.upload-wrapper {
  color: white;
  font-weight: bold;
  display: flex;
}

input[type="file"] {
  position: absolute;
}

input[type="submit"] {
  border: 3px solid #555;
  color: white;
  background: #666;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #555;
}

label[for="file-upload"] {
  padding: 0.7rem;
  display: inline-block;
  background: #fa5200;
  cursor: pointer;
  border: 3px solid #ca3103;
  border-radius: 0 5px 5px 0;
  border-left: 0;
}

label[for="file-upload"]:hover {
  background: #ca3103;
}

span.file-name {
  padding: 0.7rem 3rem 0.7rem 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  background: #ffb543;
  color: black;
  border: 3px solid #f0980f;
  border-radius: 5px 0 0 5px;
  border-right: 0;
}

.toolbar {
  box-shadow: 0 0 3px 0 rgba(50, 50, 50, .25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  height: max-content;
}

.toolbar button {
  height: 2.2rem;
  width: 2.2rem;
  margin: 0.4rem;
  border: 0;
  border-radius: 10px;
}

.toolbar button.active,
.toolbar button:hover {
  background-color: #ff1;
  box-shadow: 5px 0 10px 0 #aa1;
}

.toolbar button img,
.toolbar button svg {
  width: 80%;
  height: 80%;
}

.props-popup {
  padding: 1.5em 1em;
  width: 24vw;
  text-align: center;
  overflow: auto;
  background-color: #fff;
  transition: all .4s;
  font-size: 0.9rem;
  color: #795100;
}

.props-popup .input-container {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  border-radius: 6px;
  /* background-color: #0001; */
}

.props-popup .input-container label {
  text-align: left;
  align-self: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #ff16;
  position: absolute;
  z-index: 1;
  padding: 0.8rem 1.8rem;
  font-size: 0.8rem;
  width: max-content;
  border-radius: 0.5rem;
  top: 110%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}